#team-user {
  background-color: var(--fs-color-light);
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}


#team-user small {
  color: var(--fs-color-primary-500);
  margin-bottom: 20px;
  display: block;
}

#team-user p {
  color: var(--fs-color-primary-500);
}

#team-user .subtitle {
  margin-bottom: 30px;
  font-size: 12px;
}

#team-socials li {
  border-radius: 6px;
  font-size: 16px;
  display: inline-block;
}

#team-list {
  display: block;
  text-align: center;
}

#team-list li {
  width: 28%;
  margin: 80px 24px;
  display: inline-block;
}

#team-list li a {
  background-color: var(--fs-color-light);
  padding: 20px;
  text-align: center;
}

#team-list li a:hover {
  color: var(--fs-color-primary-500);
}

#team-list li a:hover span, #team-list li a:hover h3 {
  background-color: var(--fs-color-transparent);
  color: var(--fs-color-primary-500);
}

#team-list .desc {
  color: var(--fs-color-primary-500);
  display: block;
  height: 160px;
  line-height: 20px;
}

#team-list h3 {
  font-size: 16px;
}

#team-list .subtitle {
  color: var(--fs-color-primary-500);
  margin-bottom: 30px;
  display: inline-block;
  height: 30px;
}

#team-list .img, #team-user .img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

  border: 4px solid var(--fs-color-primary-500);

  display: inline-block;
  height: 150px;
  margin-bottom: 15px;
  margin-top: -100px;
  width: 150px;
}

#team-list .img {
  border-radius: 150px;
}

#team-user .img {
  border-radius: 50px;
  float: right;
  height: 250px;
  width: 200px;
}

#team-list a:hover .img {
  background-color: var(--fs-color-light);
}

#team-list .foot, #team-user .foot {
  background-color: var(--fs-color-primary-500);
  display: block;
  line-height: 30px;
  text-align: center;
  margin: 30px -20px -20px;
  color: var(--fs-color-primary-500);
}

#team-user .foot {
  margin: 30px -30px -30px -30px;
}

#team-list a:hover .foot {
  background-color: var(--fs-color-primary-500);
  opacity: 0.8;
}

#team-list a:hover .foot i {
  opacity: 0.8;
}

#team-list a:hover .img {
  border-color: var(--fs-color-primary-500);
  opacity: 0.8;
}

#team-list a:hover .foot i:hover, #team-user .foot a:hover i {
  opacity: 0.8;
}

.foot i > span {
  display: none !important;
}

.foot i {
  color: var(--fs-color-primary-500);
  background-color: var(--fs-color-light);
  font-size: 17px;
  padding: 8px;
  border-radius: 20px;
  margin: 14px;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

@media all and (max-width: 980px) {
  #team-list li {
    width: 42%;
    margin: 80px 24px;
    display: inline-block;
  }
}

@media all and (max-width: 700px) {
  #team-list li {
    width: 100%;
    margin: 80px 0;
    display: block;
  }
}
